<li><a href="/">Search</a></li>
<li><a href="/log" {% if page == "log" %}class="active_tab"{% endif %}>Index Log</a></li>
<li><a href="/log/test-queries" {% if page == "test-queries" %}class="active_tab"{% endif %}>Test Queries</a></li>
<li><a href="/log/past-crawls" {% if page == "past-crawls" %}class="active_tab"{% endif %}>Past Crawls</a></li>
<li><a href="/log/crawl-charts" {% if page == "crawl-charts" %}class="active_tab"{% endif %}>Charts</a></li>
<li><a href="/log/sitemaps" {% if page == "sitemaps" %}class="active_tab"{% endif %}>Sitemaps</a></li>
<li><a href="/logout">Logout</a></li>