{% extends "base.html" %}
{% block content %}
  <section>
      <h1>James' Search Login</h1>
      <p>Sign in to the search engine dashboard.</p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <p class="error">
              <em>{{ messages[0] }}</em>
          </p>
      {% endif %}
      {% endwith %}
      <form action="/login" method="POST" class="login">
          <label for="username">Your username:</label><br />
          <input type="username" name="username" placeholder="Your username" /><br />
          <label for="password">Your password:</label><br />
          <input type="password" name="password" placeholder="Your password" /><br />
          <input type="submit" value="Sign In" />
      </form>
  </section>
{% endblock %}