{% extends "base.html" %}
{% block content %}
<section class="text-box">
  <h1>IndieWeb Search Advanced Filters</h1>
  <p>The IndieWeb search engine supports the following advanced filters:</p>
  <ul>
      <li><b>coffee OR indieweb</b> - Search for posts that contain the words "coffee" or "indieweb".</li>
      <li><b>inurl:"/article/"</b> - Search for posts whose URL contains "/article/".</li>
      <li><b>site:"jamesg.blog"</b> - Search for posts on jamesg.blog.</li>
      <li><b>discover coffee</b> - Find home pages that mention the term "coffee".</li>
      <li><b>xray https://jamesg.blog</b> - Redirect to <a href="https://xray.p3k.io/">aaronpk's xray tool</a> to find the microformats markup present on a page.</li>
      <li><b>jamesg.blog social</b> - Return all rel=me links on the homepage of a domain.</li>
      <li><b>tantek.com inspect feed</b> - Return all feeds associated with a domain home page.</li>
      <li><b>random</b> - Go to the homepage of a random site in the search index.</li>
      <li><b>category:"coffee"</b> - See posts tagged with the category "coffee".</li>
      <li><b>category:"coffee, indieweb"</b> - See posts tagged with either the category "coffee" or "indieweb" (experimental).</li>
      <li><b>mf2property:"like"</b> - See posts with a like property in their microformats markup (supports like, rsvp, reply, favorite, share, video, photo, and article) (experimental).</li>
  </ul>
  <p>You can use any combination of the filters above.</p>
  <p><em>* This feature is only supported on some pages.</em></p>
  <p><a href="/">Click here to go to back to the IndieWeb search engine.</a></p>
</section>
{% endblock %}