{% extends "base.html" %}
{% block content %}
<section class="text-box main_content_box">
  <h1>IndieWeb Search Stats</h1>
  <p>There are {{ '{0:,}'.format(count) }} pages indexed on the IndieWeb search engine.</p>
  <h2>Index Size Graph</h2>
  <p>The graph below shows the growth of the IndieWeb Search Index.</p>
  <img src="https://es-indieweb-search.jamesg.blog/assets/index_size.png" alt="Index Size Graph" />
  <h2>Feed Breakdown</h2>
  <p>Below you can see a breakdown of the most popular feeds found during indexing.</p>
  <p>This graph only counts feeds discovered during crawling and may not reflect every single feed on a site.</p>
  <i>"feed" indicates a feed whose MIME type is unknown.</i>
  <ul>
    {% for feed in feed_breakdown %}
    {% if feed[0] != None %}<li>{{ feed[0] }}: {{ feed[1] }}</li>{% endif %}
    {% endfor %}
  </ul>
  <h2>Top Linked Assets</h2>
  <p>The list below shows the domains to which the most URLs pointed when the index was last built.</p>
  <ul>
    {% for domain in top_linked_assets %}
    <li>{{ domain[0] }}: {{ domain[1] }}</li>
    {% endfor %}
  </ul>
  <h2>Top Microformat Link Types</h2>
  <p>The list below shows the most popular microformats used in <code><a></a></code> links found on web pages in the index.</p>
  <ul>
    {% for key, value in link_types.items() %}
    {% if key == "" %}<li>Regular anchor link: {{ value }}</li>{% else %}<li>{{ key }}: {{ value }}</li>{% endif %}
    {% endfor %}
  </ul>
</section>
{% endblock %}