{% extends "base.html" %}
{% block content %}
<section class="search">
  <img src="/static/indieweb.png" alt="IndieWeb logo" style="max-height: 200px;" />
  <h1>IndieWeb Search</h1>
  <p>Search web sites published by members of the IndieWeb community and related sites.</p>
  <form action="/results" method="GET" role="search">
    <input type="search" id="query" name="query" placeholder="Enter your query" aria-label="Search" autocomplete="off" /><br>
    <select id="suggestions" style="display: none;"></select>
    <br>
    <input type="submit" value="Search">
  </form>
  <p class="advanced-p">View <a href="/advanced">advanced search options</a>.</p>
  <h2>Explore New Topics</h2>
  <ul class="topic_cloud">
    <li>
      <a href="/results?query=what is webmention">what is webmention</a>
    </li>
    <li>
      <a href="/results?query=what is micropub">what is micropub</a>
    </li>
    <li>
      <a href="/results?query=feed reader">feed reader</a>
    </li>
    <li>
      <a href="/results?query=microformats">microformats</a>
    </li>
    <li>
      <a href="/results?query=make a website">make a website</a>
    </li>
    <li>
      <a href="/results?query=rss tutorial">rss tutorial</a>
    </li>
    <li>
      <a href="/results?query=eleventy">eleventy</a>
    </li>
    <li>
      <a href="/results?query=digital gardens">digital gardens</a>
    </li>
  </ul>
</section>
{% endblock %}