<!doctype html>
<html lang="en">
  <head>
    {% include "meta.html" %}
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label_top">Skip to main content</a>
      <nav id="top_navigation">
        <p><a href="/">IndieWeb Search</a></p>
        <ul id="desktop_menu">
            <li><a href="/about">About</a></li>
            <li><a href="/stats">Statistics</a></li>
            <li><a href="/changelog">Changelog</a></li>
            <li><a href="https://indieweb.org">IndieWeb.org</a></li>
        </ul>
        <ul id="mobile_menu">
            <li><a onclick="trigger_modal('settings')">Menu</a></li>
        </ul>
      </nav>
      <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.getElementById('darkmode').media = "all";
        }

        if (localStorage.getItem('darkmode') == "true") {
          document.getElementById('darkmode').media = "all";
        } else if (localStorage.getItem('darkmode') == "false") {
          document.getElementById('darkmode').media = "none";
        }

        var navigation = document.getElementById("top_navigation");
        var ul = navigation.getElementsByTagName("ul")[0];
        
        var li = document.createElement("li");
        var dark_style = document.getElementById("darkmode");
  
        if (dark_style.media === "all") {
          li.innerHTML = "<a onclick='toggleTheme();'>Light Mode</a>";
        } else {
          li.innerHTML = "<a onclick='toggleTheme();'>Dark Mode</a>";
        }

        ul.appendChild(li);
  
        function toggleTheme() {
          if (dark_style.media === "all") {
            dark_style.media = "none";
            li.innerHTML = "<a onclick='toggleTheme();'>Dark Mode</a>";
            localStorage.setItem('darkmode', 'false');
          } else {
            dark_style.media = "all";
            li.innerHTML = "<a onclick='toggleTheme();'>Light Mode</a>";
            localStorage.setItem('darkmode', 'true');
          }
        }

        function trigger_modal(id) {
            var modal = document.getElementById(id);
            if (modal.style.display == "none") {
                modal.style.display = "block";
            } else {
                modal.style.display = "none";
            }
        }
      </script>
      <div id="main">
          {% block content %}
          {% endblock %}
      </div>
      <section class="mobile_modal" style="display: none;" id="settings">
        <h2>IndieWeb Search</h2>
        <span class="close" onclick="trigger_modal('settings');">&times;</span>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/stats">Statistics</a>
          </li>
          <li>
            <a href="/changelog">Changelog</a>
          </li>
          <li>
            <a href="https://indieweb.org">IndieWeb.org</a>
          </li>
        </ul>
      </section>
      <p>Have some feedback? <a href="https://github.com/capjamesg/indieweb-search">File an issue on the project GitHub page.</a></p>
      <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
    </main>
  </body>
</html>