<!doctype html>
<html lang="en">
  <head>
    {% include "meta.html" %}
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label_top">Skip to main content</a>
      <nav id="top_navigation">
        <p style="margin: 0"><a href="/"><img src="https://indieweb.org/img/indiewebcamp.svg" alt="IndieWeb logo" style="height: 50px; margin-right: 20px;" /></a></p>
        {% if query != None %}
          <form action="/results" method="GET" role="search">
            <input type="search" id="query" name="query" placeholder="Enter your query" aria-label="Search the IndieWeb" value="{{ query }}" autocomplete="off">
            <input class="search_button" type="submit" value="Search">
          </form>
        {% endif %}
        <ul id="desktop_menu">
            <li><a href="/about">About</a></li>
            <li><a href="/stats">Statistics</a></li>
            <li><a href="/changelog">Changelog</a></li>
            <li><a href="https://indieweb.org">IndieWeb.org</a></li>
        </ul>
        <ul id="mobile_menu">
            <li>
              <a onclick="trigger_modal('settings')" style="border: none">
                <svg viewBox="0 0 100 80" width="25" height="25">
                <rect width="100" height="20"></rect>
                <rect y="30" width="100" height="20"></rect>
                <rect y="60" width="100" height="20"></rect>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <div id="main">
          {% block content %}
          {% endblock %}
          <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
      </div>
      <section class="mobile_modal" style="display: none;" id="settings">
        <span class="close" onclick="trigger_modal('settings');">&times;</span>
        <h2>IndieWeb Search</h2>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/stats">Statistics</a>
          </li>
          <li>
            <a href="/changelog">Changelog</a>
          </li>
          <li>
            <a href="https://indieweb.org">IndieWeb.org</a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>