<!doctype html>
<html lang="en">
  <head>
    {% include "meta.html" %}
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label">Skip to main content</a>
      <nav>
        <p><a href="/">IndieWeb Search</a></p>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/stats">Statistics</a></li>
      </ul>
      </nav>
      <div id="main">
          {% block content %}
          {% endblock %}
      </div>
      <p>Have some feedback? <a href="https://github.com/capjamesg/indieweb-search">File an issue on the project GitHub page.</a></p>
      <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
    </main>
  </body>
</html>