
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />

    <meta name="description" content="Find a web page made by an IndieWeb community member." />
    <meta name="twitter:description" content="Find a web page made by an IndieWeb community member." />
    <meta name="og:description" content="Find a web page made by an IndieWeb community member." />

    <link rel="icon" href="/static/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

     <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Search | IndieWeb Search">

    <!-- Open Graph data -->
    <meta property="og:title" content="Search | IndieWeb Search" />
    <meta property="og:url" content="https://indieweb-search.jamesg.blog" />
    <meta property="og:site_name" content="IndieWeb Search" />

    <meta property="og:image" content="/static/indieweb.png" />
    <meta name="twitter:image:src" content="/static/indieweb.png">

    <link rel="search" type="application/opensearchdescription+xml" title="IndieWeb Search" href="https://indieweb-search.jamesg.blog/search.xml">

    <link rel="webmention" href="https://webmention.jamesg.blog/endpoint" />

    {% if request.endpoint.startswith("https://indieweb-search.jamesg.blog/results?query=") %}
        <link rel="alternate" type="application/jf2feed+json" href="https://indieweb-search.jamesg.blog/results?query={{ query }}&format=jf2" />
        <link rel="alternate" type="application/json" href="https://indieweb-search.jamesg.blog/results?query={{ query }}&format=json_feed" />
    {% endif %}