
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />

    <meta name="description" content="Find a page on James' Coffee Blog." />
    <meta name="twitter:description" content="Find a page on James' Coffee Blog." />
    <meta name="og:description" content="Find a page on James' Coffee Blog." />

    <link href="mailto:jamesg@jamesg.blog" rel="me">

    <link rel="icon" href="https://jamesg.blog/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

     <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Search | James' Coffee Blog">

    <!-- Open Graph data -->
    <meta property="og:title" content="Search | James' Coffee Blog" />
    <meta property="og:url" content="https://search.jamesg.blog" />
    <meta property="og:site_name" content="James' Coffee Blog Search" />

    <meta property="og:image" content="https://jamesg.blog/assets/cup_beans.jpeg" />
    <meta name="twitter:image:src" content="https://jamesg.blog/assets/cup_beans.jpeg">
